* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: grid;
  grid-template-areas:
    'header header header'
    'nav main main'
    'nav main main'
    'nav main main';
  grid-template-columns: 30% 1fr 1fr;
  height: 100%;
  /* width: 100%; */
}

.header {
  display: flex;
  justify-content: space-between;
  grid-area: header;
  background: #1f1f3d;
  color: #ffffff;
  padding: 0px 10px;
}

.header__span {
  color: #ffc30c;
}

.header__form {
  display: flex;
  align-items: center;
}

.header__form__img--search {
  background: #c7d3d8;
  height: 40px;
  width: 40px;
  padding: 8px;
}

.header__form__input--search {
  padding-left: 10px;
  height: 40px;
  width: 300px;
}

.nav {
  display: flex;
  background-color: #587a8a;
  flex-direction: column;
  grid-area: nav;
  height: 100%;
  min-height: 100vh;
}

.nav__form__section--titleInput {
  display: flex;
  flex-direction: column;
}

.nav__form__label--1 {
  color: #f3f6f7;
  margin: 0px 10px;
  margin-top: 40px;
  font-weight: 400;
}

.nav__form__section__input--title {
  height: 40px;
  margin: 0px 10px;
  border: 2px solid #1f1f3d;
  font-size: 18px;
}

/* current task items appear here */
.nav__form__section--tasks {
  margin-top: 20px;
  margin-bottom: 40px;
}

.nav__form__label--2 {
  color: #f3f6f7;
  margin: 0px 10px;
  font-weight: 400;
}

.nav__form__section--addTask {
  display: flex;
  width: 100%;
  align-items: center;
  padding-right: 10px;
}

.nav__form__section__input--task {
  display: flex;
  height: 40px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 10px;
  width: 100%;
  border: 2px solid #1f1f3d;
  font-size: 18px;
}

.nav__form__section__img--add {
  display: flex;
  background-color: #778ca3;
  border-top: 2px solid #1f1f3d;
  border-right: 2px solid #1f1f3d;
  border-bottom: 2px solid #1f1f3d;
  cursor: pointer;
  height: 40px;
  width: 40px;
  padding: 8px;
  margin-top: -15px;
}

.nav__button--addToDo,
.nav__button--clear,
.nav__button--filter {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #1f1f3d;
  border: 2px solid #1f1f3d;
  color: #ffffff;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  height: 40px;
  font-weight: 600;
  font-size: 18px;
}

.nav__button--addToDo:disabled,
.nav__button--clear:disabled {
  background-color: #778ca3;
  pointer-events: none;
}

.nav__button--addToDo:active,
.nav__button--clear:active,
.nav__button--filter:active {
  background-color: #ef4a23;
}

.nav__button--addToDo:hover,
.nav__button--clear:hover,
.nav__button--filter:hover {
  box-shadow: 2px 2px #0097e6;
}

.nav__button--filter--filterON {
  background-color: #ef4a23;
}

.nav__button--clear {
  margin-bottom: 30px;
}

.nav__section--filter {
  display: flex;
  flex-direction: row;
  border-top: 2px solid #3c6577;
}

.nav__button--filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
}

.filter-btn-urgency-on {
  background-color: #ef4a23;
}

.temp__div {
  display: flex;
  color: #ffffff;
  padding: 0px 10px;
  font-size: 18px;
}

.temp__delete__img {
  width: 20px;
  margin-right: 10px;
}

.temp__p {
  margin: 10px;
}

/* MAIN CARD AREA */

.empty-dataset,
.empty-urgent-dataset {
  break-inside: avoid;
  color: #ef4a23;
  columns: 1 1000px;
  font-size: 1.8rem;
}

.main {
  grid-area: main;
  columns: 2;
  column-width: 20em;
  column-gap: 20px;
  margin: 20px;
}

.card {
  display: inline-block;
  background-color: #fafdff;
  width: 100%;
  border: 2px solid #c7d3d8;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
}

.card:hover {
  box-shadow: 5px 5px 30px 7px rgba(13, 28, 48, 0.25),
    -5px -5px 30px 7px rgba(35, 42, 112, 0.22);
  transition: 0.5s;
}

.card__header {
  border-bottom: 2px solid #c7d3d8;
  padding-left: 10px;
}

.card__header__h3 {
  font-size: 22px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card__section {
  padding: 20px 20px 5px 20px;
}

.card__checkbox--img {
  height: 20px;
  margin-right: 5px;
  margin-top: 5px;
}

.card__checkbox--img:hover {
  transform: scale(1.2);
}

.card__footer {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  border-top: 2px solid #c7d3d8;
}

.card__urgent {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.card__urgent:hover,
.card__delete:hover {
  transform: scale(1.2);
}

.card__delete {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}

.card__footer__urgent--text,
.card__footer__delete--text {
  margin: 0px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.card__urgent--img {
  cursor: pointer;
  margin-left: 12px;
  margin-top: 8px;
  width: 20px;
}

.card__delete--img {
  cursor: pointer;
  margin-left: 12px;
  margin-top: 11px;
  margin-bottom: 2px;
  width: 20px;
}

.card__tasks {
  display: flex;
  break-inside: avoid;
}

.card__p {
  margin-top: 0;
  margin-left: 10px;
}

.card__warning {
  color: #ef4a23;
  margin-top: 20px;
  font-weight: 600;
}

.true {
  color: #3c6577;
  font-style: italic;
}

.urgent {
  background-color: #ffd89d;
  border: 2px solid #ffc30c;
}

.urgent header {
  border-bottom: 2px solid #ffc30c;
}

.urgent footer {
  border-top: 2px solid #ffc30c;
}

.urgent .card__footer__urgent--text {
  color: #ef4a23;
}

.prompt-todo-img,
.prompt-urgent-img {
  width: 150px;
}

.hidden {
  display: none;
}

/* MEDIA QUERY */

@media screen and (max-width: 620px) {
  body {
    display: block;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__form {
    padding-bottom: 25px;
  }

  .nav {
    height: 100%;
  }

  .nav__section--filter {
    padding-bottom: 25px;
  }

  .main {
    margin: 10px;
  }
}
