* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: grid;
  grid-template-areas:
    'header header header'
    'nav main main'
    'nav main main'
    'nav main main';
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
  width: 100vw;
}

.header {
  display: flex;
  justify-content: space-between;
  grid-area: header;
  background: #1f1f3d;
  color: #ffffff;
  padding: 0px 10px;
}

.header__span {
  color: #ffc30c;
}

.header__form {
  display: flex;
  align-items: center;
}

.header__form__img--search {
  background: #f3f6f7;
  height: 40px;
  width: 40px;
  padding: 8px;
}

.header__form__input--search {
  padding-left: 10px;
  height: 40px;
  width: 300px;
}

.nav {
  display: flex;
  background-color: #587a8a;
  flex-direction: column;
  grid-area: nav;
  height: 100vh;
}

.nav__form__section--titleInput {
  display: flex;
  flex-direction: column;
}

.nav__form__label--1 {
  color: #f3f6f7;
  margin: 0px 10px;
  margin-top: 40px;
  font-weight: 400;
}

.nav__form__section__input--title {
  height: 40px;
  margin: 0px 10px;
  border: 2px solid #1f1f3d;
}

/* current task items appear here */
.nav__form__section--tasks {
  margin-top: 20px;
  margin-bottom: 40px;
}

.nav__form__label--2 {
  color: #f3f6f7;
  margin: 0px 10px;
  font-weight: 400;
}

.nav__form__section--addTask {
  display: flex;
  width: 100%;
  align-items: center;
  padding-right: 10px;
}

.nav__form__section__input--task {
  display: flex;
  height: 40px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 10px;
  width: 100%;
  border: 2px solid #1f1f3d;
}

.nav__form__section__img--add {
  display: flex;
  background-color: #1f1f3d;
  cursor: pointer;
  height: 40px;
  width: 40px;
  padding: 8px;
  margin-top: -15px;
}

.nav__button--addToDo,
.nav__button--clear,
.nav__button--filter {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #1f1f3d;
  border: 1px solid #1f1f3d;
  color: #ffffff;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  height: 40px;
  font-weight: 800;
}

.nav__button--addToDo:disabled,
.nav__button--clear:disabled {
  background-color: #778ca3;
  pointer-events: none;
}

.nav__button--addToDo:active,
.nav__button--clear:active,
.nav__button--filter:active {
  background-color: #ef4a23;
}

.nav__button--clear {
  margin-bottom: 30px;
}

.nav__section--filter {
  display: flex;
  flex-direction: row;
  border-top: 2px solid #3c6577;
}

.nav__button--filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  width: 95%;
}

.filter-btn-urgency-on {
  background-color: #ef4a23;
}

.temp__div {
  display: flex;
  color: #ffffff;
  padding: 0px 10px;
}

.temp__delete__img {
  width: 20px;
  margin-right: 10px;
}

/* MAIN CARD AREA */

.main {
  grid-area: main;
  margin: 20px;
}

.card {
  background-color: #fafdff;
  width: 50%;
  border: 2px solid #c7d3d8;
  margin: 5px;
}

.card__header {
  border-bottom: 2px solid #c7d3d8;
  padding-left: 10px;
}

.card__section {
  padding: 20px;
}

.card__checkbox--img {
  height: 20px;
  margin-right: 5px;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  border-top: 2px solid #c7d3d8;
}

.card__urgent {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.card__delete {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}

.card__urgent--img,
.card__delete--img {
  cursor: pointer;
  margin-left: 12px;
  margin-top: 10px;
  width: 20px;
}

.card__warning {
  color: #ef4a23;
  font-weight: 800;
}

.true {
  color: #3c6577;
  font-style: italic;
}

.urgent {
  background-color: #ffd89d;
  border: 2px solid #ffc30c;
}

.urgent header {
  border-bottom: 2px solid #ffc30c;
}

.urgent footer {
  border-top: 2px solid #ffc30c;
}

.hidden {
  display: none;
}

/* MEDIA QUERY */

@media screen and (max-width: 620px) {
  body {
    display: block;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__form {
    padding-bottom: 25px;
  }

  .nav {
    height: 100%;
  }

  .nav__section--filter {
    padding-bottom: 25px;
  }
}
